# ===== POSTGRES =====
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin1234
POSTGRES_DB=uec_weather_iot

DATABASE_URL=postgresql://admin:admin1234@postgres:5432/uec_weather_iot?schema=public

# ===== INFLUX =====
INFLUX_USERNAME=admin
INFLUX_PASSWORD=admin1234
INFLUX_ORG=myorg
INFLUX_BUCKET=weather_data
INFLUX_TOKEN=mytoken1234

# ===== AUTH =====
JWT_SECRET=UECWeatherSecretKey
JWT_REFRESH_SECRET=UECWeatherRefreshSecretKey

# ===== MQTT =====
MQTT_USER=backend
MQTT_PASS=backend_secret

# ===== SMTP =====
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=66010324@kmitl.ac.th
SMTP_PASS=udnw szky sxrq pckv

# ===== API =====
GEMINI_API_KEY=AIza...
FRONTEND_URL=http://localhost:3000